# Dependencies
node_modules/
dist/
!spicetify-lyrics-sync/dist/lyrics-sync.js
.spicetify/

# Databases & Data
backend/data/*.sqlite
backend/data/*.sqlite-journal
backend/data/*.sqlite-wal

# Build artifacts
*.js.map
*.o
*.a
*.so
*.dylib

# Editor / System
.DS_Store
Thumbs.db
.vscode/
.idea/

# Personal / Private (User requested to keep admin panel private)
admin-panel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
*.tar.gz
